*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: pointer;
}
.box{ 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,blue,#fc466b);
}
.form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255,255,0.15);
    border-radius: 15px;
    box-shadow: 0 8px 31px 0 ;
    border: 1px solid white;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    color: aliceblue;
    font-size: 2.5em;
    opacity: .7;
}
.in input{
    color: aliceblue;
    border: transparent;
    width: 20rem;
    height: 2rem;
    text-align: center;
    margin-left: 30px;
    margin-top: 45px;
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
    font-size: larger;
}
::placeholder{
    color: white;
    opacity: .7;
}
button{
    text-align: center;
    margin-left: 120px;
    margin-top: 90px;
    color: white;
    background-color: transparent;
    border: none;
    width:50%;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255,255,0.15);
    border: 1px solid white;
    box-shadow: 0 8px 60px 0;
}

#result{
    background-color: transparent;
    width: 10rem;
    border-bottom: 1px solid white;
    margin-top: 30px;
    margin-left: 140px;
    text-align: center;
    color: aliceblue;
}